<div id='plotDisplay'>
    <%= image_tag 'plots.png', :alt => "Image of plots, starting at 1 in the centermost first quadrant, and spiraling
    outward, clockwise, in ranks of 4, 12, 10, and 2" %>
</div>

