<h1>Reserve Your Spot!</h1>
<p>
Please reserve your spot for the 2011 season at the White River Community Garden, sponsored by The Upper Valley Food
Coop, the Town of Hartford, and Transition Town WRJ.
</p>

<%= render 'form' %>

