<h1>Thanks!</h1>
<h3>You Owe: $<%=@reservation.cost%> </h3>
<p>
Thank you for reserving your spot!  Don't forget to send a check or money order to:

<dl>
<dt> Kye Cochran </dt>
<dd>Upper Valley Food Coop</dd>
<dd>193 North Main Street</dd>
<dd>White River Junction, VT 05001</dd>
</dl>

</p>
<p> You may also hand-deliver cash.  </p>
<p> Thanks again,  </p>
<p> The White River Community Garden Management Team</p>

<%= render 'plots' %>

