<!DOCTYPE html>
<html>
<head>
  <title>White River Community Garden Registration</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'plots_raw', 'plot_selection' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
