<!DOCTYPE html>
<html>
<head>
  <title>White River Community Garden Registration</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'plot_lib', 'plots_raw', 'plot_selection' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='content'>
<%= yield %>
</div>

</body>
</html>
